{
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier", "eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/prop-types": 0,
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
