{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": 0,
    "indent": 0,
    "react/jsx-key": 0,
    "trailing-comma": 0,
    "no-magic-numbers": ["error", { "ignore": [0, 1, 2, 4, 5, 7] }],
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-function-return-type": ["error"]
  },
  "overrides": [
    {
      "files": ["./test/**/*.*"],
      "rules": {
        "max-classes-per-file": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
