{
    "parser": "@typescript-eslint/parser",
    "extends": [],
    "plugins": [],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        },
        "project": "./tsconfig.json"
    },
    "rules": {
        "react/prop-types": 0,
        "no-magic-numbers": "off"
    },
    "settings": {
        "react": {
            "version": "latest"
        }
    }
}